.menu-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 32rem;
    width: 64rem;
    background: rgba(1, 1, 1, .5);
}

.menu-container > form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-button {
    font-size: 2rem;
    font-family:'Courier New', Courier, monospace;
    margin: 1rem;
    padding: 1rem;
    background-color: bisque;
    border-radius: .5rem;
    width: 15rem;
}

.menu-button:hover {
    border-style: groove;
    background-color: rgb(252, 187, 107);
}

.menu-caption {
    text-align: center;
    margin: 0rem;
    width: 100%;
    color:red;
    font-size: 3rem;
}

.menu-select {
    display:block;
    width: 100%;
    height: 20rem;
    overflow: scroll;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 2rem;
    padding-top: 0rem;
    background-color: bisque;
    border-radius: .2rem;
    margin: 1rem;
}

.menu-select > table {
    width: 100%;
}

.menu-select > table > thead {
    background-color: cadetblue;
    top:0rem;
    position: sticky;
}

.menu-input {
    background-color: cadetblue;
    padding: .5rem;
    border-radius: .2rem;
    display: flex;
    flex-direction: column;
}

.menu-input > input {
    margin: .5rem;
    border-radius: .2;
}

.menu-err {
    color: rgb(207, 10, 10);
    font-style: italic;
    align-self: center;
}