.player-avatar {
    background-color: red;
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
}

.face-down {
    border-bottom-style: double;
}

.face-up {
    border-top-style: double;
}

.face-left {
    border-left-style: double;
}

.face-right {
    border-right-style: double;
}