.player-avatar {
    background-image: url("../media/characterAvatar/characterFront.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
}

.face-down {
    border-bottom-style: double;
}

.face-up {
    background-image: url("../media/characterAvatar/characterBack.png");
    border-top-style: double;
}

.face-left {
    border-left-style: double;
}

.face-right {
    border-right-style: double;
}

.interact.face-down {
    background-image: url("../media/characterAvatar/characterFrontInteract.png");
}

.walking.face-down {
    background-image: url("../media/characterAvatar/characterFrontWalking.gif");
}

.interact.face-up {
    background-image: url("../media/characterAvatar/characterBackInteract.png");
}

.walking.face-up {
    background-image: url("../media/characterAvatar/characterBackWalking.gif");
}