.player-avatar {
    background-image: url("../media/characterAvatar/characterFront.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
}

.face-down {
    background-image: url("../media/characterAvatar/characterFront.png");
}

.face-up {
    background-image: url("../media/characterAvatar/characterBack.png");
}

.face-left {
    background-image: url("../media/characterAvatar/characterLeft.png");
}

.face-right {
    background-image: url("../media/characterAvatar/characterRight.png");
}

.interact.face-down {
    background-image: url("../media/characterAvatar/characterFrontInteract.png");
}

.walking.face-down {
    background-image: url("../media/characterAvatar/characterFrontWalking.gif");
}

.interact.face-up {
    background-image: url("../media/characterAvatar/characterBackInteract.png");
}

.walking.face-up {
    background-image: url("../media/characterAvatar/characterBackWalking.gif");
}

.interact.face-right {
    background-image: url("../media/characterAvatar/characterRightInteract.png");
}

.walking.face-right {
    background-image: url("../media/characterAvatar/characterRightWalking.gif");
}

.interact.face-left {
    background-image: url("../media/characterAvatar/characterLeftInteract.png");
}

.walking.face-left {
    background-image: url("../media/characterAvatar/characterLeftWalking.gif");
}